/*   ? FROM HERE ALL THE COMMON CHANGES
------------------------------------*/
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: Outfit, Arial, Helvetica, sans-serif
}

*::selection {
  color: black;
  background-color: #4c00ff31;
}

a {
  transition: all 0.3s ease-in-out;
}

/* *global changes for navbar and footer anchor tags*/
svg {
  align-items: baseline;
  align-self: center;
  align-content: center;
  margin: 0 auto;
}

/***Button's focus pe colour remove in bootstrap*/
.btn:focus {
  outline: none;
  box-shadow: none;
}

.commonbuttons:focus {
  outline: none;
  box-shadow: none;
}

#commonbuttons:focus {
  outline: none;
  box-shadow: none;
}

/**imp feature hai ye*/
i:hover {
  transform: scale(1.1);
  opacity: 0.6;
}

svg:hover {
  transform: scale(1.1);
  opacity: 0.6;
}

h3 {
  padding: 2% 2% 2% 2%;
}

h4 {
  padding: 2% 0% 2% 0%;
}

h5 {
  padding: 0% 0% 2% 0%;
}

/*todo Navbar contents from here*/
.navbar-nav li {
  padding: 0 10px;
  white-space: nowrap;
}

.navbar-nav li a {
  text-align: right;
  color: #000;
  font-size: large;
  font-weight: 300;
}

.navbar {
  background: #fff;
  box-shadow: rgb(0 0 0 / 20%) 0px 1px 20px 0px;
}

.col-sm-2 svg {
  align-items: center;
}

/**-THE UNDERLINE EFFECT OF LINK of particular page-*/
a.left {
  position: relative;
}

a.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.left:hover:before {
  visibility: visible;
  width: 100%;
}

/*
 ! Navbar contents end from here
*/
/** the written stuff below navbar*/
.box-for-names {
  margin: 10% 3% 10% 3%;
  padding: 5%;
}

.below-navbar-container {
  background-image: url("../public/assets/hand.jpeg");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Add Blur */
  background-blend-mode: hard-light;
  /* Margin and padding */
  margin: 32px;
  border-radius: 16px;
  box-shadow: rgb(0 0 0 / 20%) 0px 1px 20px 0px;
}

#commonbuttons {
  padding: 2%;
  border: none;
  border-radius: 16px;
  color: white;
  font-size: 18px;
  background: -webkit-linear-gradient(right, #754888, #220031);
  width: 200px;
  transition: all 0.3s ease-in;
  border: none;
}

.commonbutton5 {
  padding: 8px 16px;
  border: none;
  border-radius: 16px;
  color: white;
  font-size: 18px;
  background: -webkit-linear-gradient(right, #754888, #220031);
  transition: all 0.5s ease-in-out;
  border: none;
}

.commonbutton5:hover {
  border: none;
  color: white;
  font-size: 18px;
  border: none;
}

#commonbuttons:hover {
  transform: scale(1.1);
}

.commonbuttons {
  border-radius: 16px;
  color: white;
  font-size: 18px;
  background: -webkit-linear-gradient(right, #754888, #220031);
  width: 130px;
  transition: all 0.3s ease-in;
  border: none;
}

.commonbuttons:hover {
  transform: scale(1.1);
}

#commonbutton {
  padding: 2%;
  border: none;
  border-radius: 16px;
  color: white;
  font-size: 18px;
  background: -webkit-linear-gradient(right, #754888, #220031);
  width: 200px;
  transition: all 0.3s ease-in;
  transform: scale(1.0);
  border: none;
}

#commonbutton:hover {
  transform: scale(1.1);
}


/* Thumnail preview */

.thumbnail-preview {
  border-radius: 16px;
  box-shadow: rgb(0 0 0 / 20%) 0px 1px 20px 0px;
  background: #fff;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnail-image {
  border-radius: 16px;
}


/*
    todo below the navbar right side svg
*/

#hello-world h1 {
  color: #fff;
  font-size: 70px;
}

#hello-world h4 {
  color: white;
  font-size: 30px;
  font-weight: 500;
}

@media only screen and (max-width: 991px) {
  #hello-world h1 {
    color: #fff;
    font-size: 50px;
  }

  #hello-world h4 {
    color: white;
    font-size: 25px;
    font-weight: 500;
  }
}

@media only screen and (max-width: 1233px) {
  #hello-world h1 {
    color: #fff;
    font-size: 60px;
  }

  #hello-world h4 {
    color: white;
    font-size: 30px;
    font-weight: 500;
  }
}

@media only screen and (max-width: 600px) {
  #hello-world h1 {
    color: #fff;
    font-size: 50px;
  }

  #hello-world h4 {
    color: white;
    font-size: 30px;
    font-weight: 500;
  }
}

/***footer section of the website*/
.footer_bottom {
  box-shadow: rgb(0 0 0 / 20%) 0px 1px 20px 0px;
  border-radius: 16px;
  padding-top: 16px;
  margin: 0px 16px;
  height: 60px;
}

.footer_about_section p {
  font-size: 18px;
}

.footer-links li {
  list-style: none;
  font-size: 18px;
}

.footer-links li a {
  text-decoration: wavy;
}

/*
itemview css
*/

.item-info {
  padding-top: 10%;
}

/*
top right bottom left
*/
.slight-big {
  padding: 5% 10% 5% 10%;
  transform: none;
}

.slight-big:hover {
  padding: 5% 10% 5% 10%;
}

.small-font {
  font-size: 15px;
}
/* span { 
   font-size: 3em; 
   display: inline-block; }

span::first-letter { font-size: 60%; } */

.big-text {
  font-size: 50px;
}
.small-text {
  font-size: 20px;
}

/*forms styling for the django automatic forms */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type="number"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
input[type="checkbox"] {
  /* width: 100%; */
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
ul.form-inline {
  list-style-type: none;
}

ul.form-group {
  list-style-type: none;
}
/******************************************/
ul {
  list-style-type: none;
}
label {
  font-size: 18px;
}
input [type="submit"] {
  font-size: 19px;
}

.card-width {
  width: 200px;
}